In [3]:
import datetime
import pandas as pd
import numpy as np

In [75]:
years = [1820, 1830, 1840, 1850, 1860, 1870]
genre = ["FIC", "NF", "MAG"]

In [64]:
df = pd.DataFrame()

In [76]:
j = pd.DataFrame()

In [80]:
results = pd.DataFrame()
results['lemma'] = []

In [46]:
a = pandas.read_csv("make1820FIC.csv")
b = pandas.read_csv("make1820NF.csv")
c = pandas.read_csv("make1820MAG.csv")

In [53]:
d = a.merge(b, on = ["lemma"], how='outer').merge(c, on = ["lemma"], how='outer')
d[['count_x','count_y', 'count']] = d[['count_x','count_y', 'count']].fillna(0)
d['1820'] = d['count_x'] + d['count_y'] + d['count']
d = d.drop(["count_x", "count_y", "count"],axis=1)
d

             lemma   1820
0              NaN  232.0
1            reply   83.0
2       appearance  107.0
3       impression  108.0
4           effort  122.0
5          inquiry   77.0
6              way  108.0
7            heart   64.0
8              man  133.0
9              use  175.0
10            mind   76.0
11           haste   50.0
12         attempt   88.0
13     arrangement   53.0
14          answer   37.0
15           noise   40.0
16          friend   36.0
17           peace   50.0
18            love   37.0
19     preparation   49.0
20            sign   38.0
21        exertion   40.0
22            wife   24.0
23        progress   70.0
24           woman   26.0
25       discovery   41.0
26          motion   26.0
27          public   54.0
28           blood   23.0
29             war   54.0
...            ...    ...
2944      mirabeau    1.0
2945       license    1.0
2946          babe    1.0
2947     diagnosis    1.0
2948          drip    1.0
2949    excitement    1.0
2950        growth    1.0
2951      currency    1.0
2952       primary    1.0
2953      stocking    1.0
2954       factory    1.0
2955          monk    1.0
2956       barrier    1.0
2957           can    1.0
2958         shirt    1.0
2959    legislator    1.0
2960     amendment    1.0
2961    depository    1.0
2962     abolition    1.0
2963        balsam    1.0
2964      omission    1.0
2965        timber    1.0
2966    vaccinator    1.0
2967         surge    1.0
2968   enunciation    1.0
2969  discomfiture    1.0
2970        remedy    1.0
2971         cocoa    1.0
2972       honoris    1.0
2973        cellar    1.0

[2974 rows x 2 columns]

In [69]:
results

   lemma  count
0    NaN      0

In [74]:
results = results.merge(d, on = ["lemma"], how='outer')
results

             lemma   1820
0              NaN  232.0
1            reply   83.0
2       appearance  107.0
3       impression  108.0
4           effort  122.0
5          inquiry   77.0
6              way  108.0
7            heart   64.0
8              man  133.0
9              use  175.0
10            mind   76.0
11           haste   50.0
12         attempt   88.0
13     arrangement   53.0
14          answer   37.0
15           noise   40.0
16          friend   36.0
17           peace   50.0
18            love   37.0
19     preparation   49.0
20            sign   38.0
21        exertion   40.0
22            wife   24.0
23        progress   70.0
24           woman   26.0
25       discovery   41.0
26          motion   26.0
27          public   54.0
28           blood   23.0
29             war   54.0
...            ...    ...
2944      mirabeau    1.0
2945       license    1.0
2946          babe    1.0
2947     diagnosis    1.0
2948          drip    1.0
2949    excitement    1.0
2950        growth    1.0
2951      currency    1.0
2952       primary    1.0
2953      stocking    1.0
2954       factory    1.0
2955          monk    1.0
2956       barrier    1.0
2957           can    1.0
2958         shirt    1.0
2959    legislator    1.0
2960     amendment    1.0
2961    depository    1.0
2962     abolition    1.0
2963        balsam    1.0
2964      omission    1.0
2965        timber    1.0
2966    vaccinator    1.0
2967         surge    1.0
2968   enunciation    1.0
2969  discomfiture    1.0
2970        remedy    1.0
2971         cocoa    1.0
2972       honoris    1.0
2973        cellar    1.0

[2974 rows x 2 columns]

In [92]:
d = pd.DataFrame()
results = pd.DataFrame()
results['lemma'] = []
for i in years:
    a = pandas.read_csv("make" + str(i) + "FIC.csv")
    b = pandas.read_csv("make" + str(i) + "NF.csv")
    c = pandas.read_csv("make" + str(i) + "MAG.csv")
    d = a.merge(b, on = ["lemma"], how='outer').merge(c, on = ["lemma"], how='outer')
    d[['count_x','count_y', 'count']] = d[['count_x','count_y', 'count']].fillna(0)
    d[str(i)] = d['count_x'] + d['count_y'] + d['count']
    d = d.drop(["count_x", "count_y", "count"],axis=1)
    d = d.dropna(subset=['lemma'])
    results = results.merge(d, on = ["lemma"], how='outer')
results = results.fillna(0)
results["sum"] = results.sum(axis=1)
sort = results.sort_values(by=['sum'], ascending=False)
sort.to_csv("results.csv", encoding='utf-8', index=False)